p {
    margin: 10px 0;

}

/*form*/
label
{
    line-height: 1.6;
}
/*invulvakken naam ev.*/
input
{
    min-width: 250px;
    min-height: 30px;
    margin: 10px 0;
}


/*Invulvak commentaar*/
textarea
{
    min-width: 250px;
    min-height: 100px;
    margin: 10px 0;
}

/*Hoveren (overgaan van muis)*/
nav a:hover, nav a:focus
{
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}

/*Tekstuitlijing aan de linkerkant (om grote gaten te voorkomen)*/
li
{
    text-align: left;
}

/*Lettertype*/
html
{
    font-family: "Gill Sans", verdana, sans-serif;
}


/*Kleur van de vakjes van de navigatie en de tekst kleur*/
header nav a
{
    background-color: burlywood;
    color: #FFF;
}

/*Kleur van footer + contouren*/
footer
{
    background-color: burlywood;
    padding: 30px 100px;

}


nav{
    background-color: burlywood;
    border: 2px solid black;
}
nav h1{
    padding: 5px;
    display: inline-block;
    border-right: 2px solid black;

}
nav li{
    padding: 0px 5px;
    display: inline-block;
    font-size: 1.5em;
    background-color: burlywood;
    color: black;
    border-right: 2px solid black;
    justify-content: space-around;



}
nav li a{
    color: black;

}
div p, div form{
    text-align: center;
}

nav li a:hover{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: burlywood;
}


h1, h2, h3, h4
{
    font-size: 1.7em;
    text-align: center;
    padding: 10px;
}

form{
    padding: 10px;
    alignment: center;
    border: burlywood 1px;
}

p{
    padding: 2px 10px;
}
tr{
    text-align: center;
}
td{
    text-align: center;
    padding: 2px 10px;
    border-bottom: 1px solid burlywood;

}

thead tr td{
    text-align: center;
    font-size: 1.3em;
}


table{
    position: center;
    padding: 2px 10px;
    text-align: center;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
a:hover{
    text-underline: none;
}