<!DOCTYPE html>
<html th:lang="#{label.lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleEditSubtask}"/>
    <nav th:insert="nav"/>
</head>
<body>
<h1 th:text="#{editSubtask}"/>
<form method="post" th:action="'/tasks/'+${taskId}+'/sub/'+${subtaskid}+'/edit/'">

    <label for="title" th:text="#{label.title}">: </label>
    <input type="text" name="title" id="title" th:value="${title}"><br>
    <label for="description" th:text="#{label.description}">: </label>
    <input type="text" name="description" id="description" th:value="${description}"><br>
    <input type="submit" th:value="#{label.edit}">
</form>
</body>
</html>