<!DOCTYPE html>
<html th:lang="#{label.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{signup}"/>
    <nav th:insert="nav"/>
</head>
<body>
<h1 th:text="#{signup}"></h1>
<form method="post" action="/signup">
    <p th:if="${!#fields.globalErrors().isEmpty()}" th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="username" th:text="#{label.username}">:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password" th:text="#{label.password}">:</label>
        <input type="password" id="password" name="password">
    </div>
    <input type="submit" th:value="#{signup}">
</form>
</body>
</html>
