<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager - Overview tasks</title>
    <p th:insert="nav"/>
</head>
<body>
<h1>Tasks</h1>
<table>

    <tbody>
    <div th:if="${tasks.isEmpty()}">
        <tr>
            <td>No tasks left to do</td>
        </tr>
    </div>

    <tr th:each="task : ${tasks}">

        <td th:text="${task.title} + ' due ' + ${task.dueDate}">1</td>
        <td><a th:href="'/tasks/'+${task.id}">Detail</a></td>
        <td><a th:href="'/tasks/edit/'+${task.id}">Edit task</a></td>
        <td><a th:href="'/tasks/'+${task.id}+'/remove'">Remove task</a></td>


    </tr>
    </tbody>
</table>

</body>
</html>
