<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager - Task detail</title>
    <p th:insert="nav"/>
</head>
<body>

<h1>Task detail</h1>
<div th:if="${task==null}">
    <p>Task not found</p>
</div>
<div th:if="${task!=null}">

    <p th:text="'Title: ' +${task.title}"></p>
    <p th:text="'Description: '+${task.detail}"></p>
    <p th:text="'Due date: ' +${task.dueDate}"></p>

    <h2>SubTasks</h2>
    <div th:if="${subtasks.size()==0}">
        <p>No subtasks</p>
    </div>
    <div th:if="${subtasks.size()!=0}">
        <table>
            <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subtask : ${subtasks}">
                <td th:text="${subtask.title}"></td>
                <td th:text="${subtask.description}"></td>
                <td><a th:href="'/tasks/'+${task.id}+'/sub/'+${subtask.id}+'/edit'">edit</a></td>
                <td><a th:href="'/tasks/'+${task.id}+'/sub/'+${subtask.id}+'/remove'">remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <form method="post" th:action="'/tasks/'+${task.id}+'/sub/create'">
        <h3>Add subtask</h3>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" ><br>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>