<!DOCTYPE html>
<html th:lang="#{label.lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleTaskDetail}"/>
    <nav th:insert="nav"/>
</head>
<body>

<h1 th:text="#{taskDetail}"/>
<div th:if="${task==null}">
    <p th:text="#{error.taskNotFound}"/>
</div>
<div th:if="${task!=null}">

    <p th:text="#{label.title}+': ' +${task.title}"></p>
    <p th:text="#{label.description}+': '+${task.description}"></p>
    <p th:text="#{label.duedate}+': ' +${task.dueDateString}"></p>

    <h2 th:text="#{subtasks}"/>
    <div th:if="${subtasks.size()==0}">
        <p th:text="#{error.noSubtasks}"/>
    </div>
    <div th:if="${subtasks.size()!=0}">
        <table>
            <thead>
            <tr>
                <td th:text="#{label.title}"/>
                <td th:text="#{label.description}"/>

            </tr>
            </thead>
            <tbody>

            <tr th:each="subtask : ${subtasks}">
                <td th:text="${subtask.title}"></td>
                <td th:text="${subtask.description}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="'/tasks/'+${task.id}+'/sub/'+${subtask.id}+'/edit'" style="border: none;">

                        <button class="button" type="submit"><span th:text="#{label.edit}"/></button>
                    </form>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="'/tasks/'+${task.id}+'/sub/'+${subtask.getId()}+'/remove'" style="border: none;">

                        <button class="button" type="submit"><span th:text="#{remove}"/></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <div th:if="${errors!= null}">
            <p th:text=" ${errors}"/>
        </div>
    <form method="post" th:action="'/tasks/'+${task.id}+'/sub/create'">
        <h3 th:text="#{addSubtask}"/>
        <label for="title" th:text="#{label.title}">: </label>
        <input type="text" name="title" id="title" ><br>
        <label for="description" th:text="#{label.description}">: </label>
        <input type="text" name="description" id="description"><br>
        <button class="button" type="submit"><span th:text="#{submit}"/></button>
    </form>

    </div>
</div>
</body>
</html>